@(message: String, result: List[models.Actor])

@import java.util.Date
@import play.i18n._
@import utils.DateParser

@*****************************
* Declaring reusable blocks  *
*****************************@
@d(date: Date) = {
  @if(date != null) {
    @date.format("yyyy-MM-dd")
  } else {
    ---
  }
}

@main("Actor Index", "俳優一覧") {
    @if(flash.containsKey("success") || flash.containsKey("error")) {
    <div class="row">
      <div class="col-md-12 well">
        @if(flash.containsKey("success")) {
        <div id="success-message" class="text-success">
          @flash.get("success")
        </div>
        }
        @if(flash.containsKey("error")) {
        <div id="error-message" class="text-danger">
          @flash.get("error")
        </div>
        }
      </div>
    </div>
    }

<!--     @if(flash.containsKey("error")) {
    <div class="row">
      <div class="col-md-12 well">
        <div id="error-message" class="text-danger">
          @flash.get("error")
        </div>
      </div>
    </div>
    }
 -->
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>@Messages.get("actor.id")</th>
              <th>@Messages.get("actor.name")</th>
              <th>@Messages.get("actor.height")</th>
              <th>@Messages.get("actor.blood")</th>
              <th>@Messages.get("actor.birthday")</th>
              <th>@Messages.get("actor.birthplace")</th>
              <th>@Messages.get("actor.update_at")</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            @for(actor <- result) {
            <tr>
              <td>
                <a class="btn btn-default" href="/actor/detail/@actor.id">@actor.id</a>
              </td>
              <td>@actor.name</td>
              <td>@if(actor.height != null) {@actor.height} else {---}</td>
              <td>@if(actor.blood) {@actor.blood} else {---}</td>
              <td>@DateParser.format(actor.birthday)</td>
              <td>@actor.birthplaceId</td>
              <td>@actor.updateAt.format("yyyy-MM-dd HH:mm:ss")</td>
              <td>
                <form action="/actor/delete/@actor.id" method="post">
                  <input class="btn btn-warning" type="submit" value="delete">
                </form>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
}
